.whatsapp-chat {
  --whatsapp: #46c056;
  --vsc-bg-header: var(--whatsapp);
  --vsc-bg-button: var(--whatsapp);
  --vsc-outline-color: var(--whatsapp);
}

.wechat-chat {
  --wechat: #00ba59;
  --vsc-bg-header: var(--wechat);
  --vsc-bg-button: var(--wechat);
  --vsc-outline-color: var(--wechat);
}

.viber-chat {
  --viber: #6f3faa;
  --vsc-bg-header: var(--viber);
  --vsc-bg-button: var(--viber);
  --vsc-outline-color: var(--viber);
}

.twitter-chat {
  --twitter: #55acee;
  --vsc-bg-header: var(--twitter);
  --vsc-bg-button: var(--twitter);
  --vsc-outline-color: var(--twitter);
}

.telegram-chat {
  --telegram: #039be5;
  --vsc-bg-header: var(--telegram);
  --vsc-bg-button: var(--telegram);
  --vsc-outline-color: var(--telegram);
}

.messenger-chat {
  --messenger: #007ff8;
  --vsc-bg-header: var(--messenger);
  --vsc-bg-button: var(--messenger);
  --vsc-outline-color: var(--messenger);
}

.line-chat {
  --line: #22ba4f;
  --vsc-bg-header: var(--line);
  --vsc-bg-button: var(--line);
  --vsc-outline-color: var(--line);
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
}

.newsletter label {
  width: 100%;
  margin-bottom: 20px;
}

.newsletter label > input {
  padding: 10px;
  width: 100%;
  margin-top: 4px;
}

.newsletter button {
  padding: 14px;
  background-color: #333;
  border:none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 8px;
}